<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <a href="/flights">All Flights</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/flights/new">Add Flight</a>
    <br><br>